@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');

/* Core Styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
  --themeColor: #0D263B;
  --routeActiveColor: #43cff9;
  --primaryBlue: #0061DF;
  --containerPadding: 0 130px;
  --gray1: #F6F8F9;
  --gray2: #F5F7FC;
  --grayBorder: #E6E9EC;
}

html, body{
    overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

.container{
  width: 100%;
  max-width: 1180px;
  margin: auto;
}

.subcontainer{
  margin-top: 6rem;
}

.subcontainer h1{
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 600;
}

.subcontainer h2{
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 400;
  color: #696969;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  transition-duration: 500ms;
}